#end-date {
    margin-bottom: 5px;
}

p {
    margin: 5px;
}

h1 {
    font-family: 'Gelasio', serif;
}

form {
    text-align: center;
    margin: 25px;
}

#company-name, #initial-amount, #initial-date, #end-date  {
    border: solid #FF8A8D 1px;
    height: 1.5em;
}

body {
    background-color: #A3FFBC;
}

input {
    margin-top:5px;
    margin-bottom: 5px;
}

label {
    display: block;
}

#submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 800px) {
    #company-name, #initial-amount, #initial-month, #initial-year, #end-month, #end-year {
        height: 1.0em;
    }
  }

.errors {
    text-align: center;
    color: #CC471F;
    font-size: 1.5em;
    max-width: 100%;
}

.answer {
    text-align: center;
    font-size: 1.5em;
    max-width: 100%;
    color: #5979FF;
}